body {
    font-size: 16px;
}

.wrapper {
    display: block;
    min-width: unset;
    max-width: unset;
}

main {
    display: block;
    width: 100%;
}

header {
    font-size: 5vw;
    min-width: unset;
    max-width: unset;
    min-height: 30vw;
}

footer {
    font-size: 5vw;
    min-width: unset;
    max-width: unset;

}

#pattern {
    width: 150px;
    max-width: 40%;
}

button {
    width:100%;
    margin: 1px;
    font-size: 10vw;
}