.login_button {
    background-color: #0fa5ff;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    cursor: pointer;

}

.login_button:hover {
    background-color: #13c0ff;
}

.login_input {
    min-width: 20ch;
    width: 20%;
    margin: 4px;
    font-size: 12px;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

