table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
}

td, th {
    border: 1px solid #13c0ff;
    text-align: left;
    padding: 8px;
    font-size: 2vw;
}

tr:nth-child(even) {
    background-color: #0fa5ff;
}