table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;

}

.table_head {
    font-size: 1vw;
    background-color: #858585;
    border: 1px solid cornflowerblue;
    color: #ffffff
}

td, th {
    border-bottom: 1px solid #9f9f9f;
    border-right: none;
    text-align: left;
    padding: 8px;

}

td:first-child {
    font-weight: bold;
}

.thread_link {
    text-decoration: none;
}
.thread_link:hover{
    font-size: 1.1em;
}

